body {
    font-family: 'Poppins', sans-serif;
}

.develop {
    text-align: center;
    padding: 10px 10px;
    justify-content: center;
}

.banner {
    background-image: url(donation10.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}